<?php

// database constants 
define("DB_TYPE", "mysql");
define('DB_NAME', 'classman_db');
define('DB_USER', 'root');
define('DB_PASS', '');
define('DB_HOST', 'localhost');

define('PROTOCOL', 'http');





