/* Custom Variables (For some reason it gives errors in CSS Validator)  */
/* Also the calc() function does not work with var() in validator, there are */
/* 0 issues in chrome/Edge/Firefox/Safari. These are not supported by IE */
:root {
  --nav-background-color: #3f3d56;
  --nav-color-dark: #1d2a36;
  --hover-accent-color: #302e41;
  --accent-orange-color: #e67e22;
  --accent-red-color: #e74c3c;
  --white-color: #fff;

  --nav-animation: 0.5s;

  --sidebar-width: 200px;

  --z-fixed: 100;
}

/* Scrollbar Modification  */

/* These may give error/warning in validator. I have provided alternatives for  */
/* Other browsers (Firefox/Safari/IE). They work perfectly fine. */

/* It is needed to get rid of that disgusting basic scrollbar, especially in the  */
/* sidebar navigation  */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e67e22;
}

/* End Scrollbar Modification  */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  margin-bottom: 4px;

  overflow: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body.stop-transition-load {
  transition: none;
}

body {
  position: relative;
  margin: 4em 0 0 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  height: 100%;

  overflow: hidden;

  transition: var(--nav-animation);
  transition-property: padding-left;
}

.body-padding {
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* Header Section  */
.header {
  width: 100%;
  height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  background-color: var(--white-color);
  z-index: var(--z-fixed);

  border-bottom: #e6e6e6 0.2em solid;

  transition: var(--nav-animation);
  transition-property: padding-left;
}

.header-toggle {
  color: var(--nav-background-color);
  font-size: 1.5em;
  cursor: pointer;
}

.header-img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header-img img {
  width: 35px;
}

.header-padding {
  /* Will give error in validator, it has been reported and acknowledged  */
  /* as a bug on the Git repo of the validator project  */
  padding-left: calc(var(--sidebar-width) + 1em);
}

/* End Header Section  */

/* Navbar Section  */

.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: var(--nav-background-color);

  transition: var(--nav-animation);
  transition-property: width;

  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav-list {
  max-height: calc(100vh - 5em);
  overflow-y: auto;
  overflow-x: hidden;
    
  /* Might give error to validator due to it only being Firefox specific  */
  scrollbar-width: none;

}

/* Might give error to validator due to it only being Chrome/Edge specific  */
.nav-list::-webkit-scrollbar {
  display: none;
}

/* Might give error to validator due to it only being Chrome/Edge specific  */
.nav-list:hover::-webkit-scrollbar {
  display: block;
}

/* Might give error to validator due to it only being Chrome/Edge specific  */
.nav-list:hover {
  scrollbar-width: thin;
}

.nav-logo,
.nav-link,
.class-select {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 0.5em;
  padding: 0.5em 0 0.5em 1.5em;
}

/* Sidebar Logo  */

.nav-logo {
  height: 4em;
  margin-bottom: 0.5em;
  border-bottom: var(--nav-color-dark) 0.2em solid;
}

.nav-logo-info {
  display: flex;
  flex-direction: column;
}

.nav-logo-info .name {
  font-size: 1.25em;
  color: #c9c9c9;
  font-weight: 500;
  height: 1.1em;
  width: 6em;
}

.nav-logo-info .usertype {
  font-size: 0.8em;
  color: #c9c9c9;
  text-align: end;
}

.nav-section {
  color: #9e9e9e;
  padding-left: 0.4em;
  white-space: nowrap;
}

.nav-link,
.class-select {
  position: relative;
  color: #c9c9c9;
  font-weight: 500;
  font-size: 1.05em;
  margin-bottom: 0.1em;
  margin-left: 0.4em;
}

.nav-link:hover,
.class-select:hover {
  background-color: var(--hover-accent-color);
}

.nav-link.active {
  color: var(--nav-background-color);
  font-weight: 600;
  background-color: #fff;
  border-radius: 20px 0 0 20px;
}

/* Show Navbar on click  */

.show {
  width: var(--sidebar-width);
}

/* Class Sections  */

.class-select span {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.class-select:hover {
  cursor: pointer;
}

.nav-class.open .class-select {
  color: var(--accent-orange-color);

  transition: 0.3s;
}

.nav-class.open {
  position: relative;
}

.nav-class.open::before {
  content: "";
  position: absolute;
  left: 0;
  margin-top: 0.8em;
  width: 3px;
  height: 11.5em;
  background-color: var(--accent-orange-color);

  transition: 0.3s;
}

.class-links {
  display: none;

  transition: display 0.3s;
}

.nav-class .nav-link {
  font-size: 0.8em;
  margin-left: 2em;
}

/* End Class Sections  */

/* End Navbar Section  */

/* General Dashboard Content  */

.main-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: scroll;

/* Might give error to Validator as it is specific to Firefox  */
  scrollbar-width: thin;
}

/* Might give error to Validator as it is specific to Chrome/Edge  */
.main-content::-webkit-scrollbar {
  display: none;
}

/* Test for scroll  */
.square {
  height: 200vh;
  width: 100%;
  background-color: red;
}

/* End Test for scroll  */

section {
  border-color: #e6e6e6;
  border-width: 0.15em;
  border-style: solid;
  border-radius: 8px;

  flex-basis: 95%;

  overflow: visible;

  height: fit-content;

  margin: 1.5em 1.5em;
  background-color: #fff;
  box-shadow: 0px 5px 10px 0 #e6e6e6;
}

section .section-header {
  display: flex;
  padding: 0 2em 0 1.5em;
  border-bottom: #e6e6e6 0.15em solid;
  overflow: visible;
}

section .section-content {
  padding: 1em 1.5em;
  max-height: 40vh;
  overflow: auto;
}

section h2 {
  font-size: 1.6em;
  font-weight: 600;
}

section p {
  max-width: 60ch;
  font-size: 1.2em;
  font-weight: 400;
  padding: 0;
}

section .emphasis {
  color: var(--accent-orange-color);
  font-weight: 500;
}

/* End General Dashboard Content  */

/* Banner Section  */

.class-banner {
  flex-basis: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 5em 0;
  padding: 3em;

  min-height: 20vh;
  height: fit-content;

  border: none;
  border-radius: 0;

  background-image: url("../images/png/red-orange-gradient-harsh.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.class-banner h2 {
  color: white;
  font-size: 3.5em;
  margin-bottom: 1em;
}

.class-banner p {
  color: white;
  font-size: 2.2em;
}


/* End Banner Section  */

/* Input Forms  */

.section-content form {
  padding: 0.5em 0 0 0;
  position: relative;
}

.section-content input {
  width: 90%;
  padding: 0.5em 0 0.5em 0;
  margin-bottom: 1.1em;

  caret-color: transparent;

  border: none;
  border-bottom: 2px solid var(--nav-background-color);
  outline: none;

  background: transparent;

  color: var(--nav-background-color);
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
}

.section-content input::placeholder {
  font-weight: 500;
  text-transform: none;
}

.section-content input:focus {
  border-bottom: 2px solid #e67e22;

  transition: ease-in-out 0.3s;
  transition-property: border-bottom;
}

.section-content button {
  border: none;
  border-radius: 10px;
  outline: none;

  height: 1.8em;
  width: 6em;

  margin: 0.5em 0 1em;

  background-image: url(../images/png/red-orange-gradient-harsh.png);
  background-size: cover;
  background-position: center;

  color: #fff;
  font-size: 1.7em;

  transition: ease 0.5s;
  transition-property: background-position;
}
.section-content button:hover {
  cursor: pointer;
  background-image: url(../images/png/red-orange-gradient-harsh.png);
  background-position: 0 0;

  transition: ease 0.5s;
  transition-property: background-position;
}

.section-content button:active {
  transform: scale(1.05);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* End Input Forms  */

/* Custom Container Classes  */

.join-classroom p {
  max-width: 90%;
}

/* End Custom Container Classes  */

/* Media Queries  */

@media screen and (max-width: 320px) {
  .class-banner h2 {
    font-size: 3.2em;
  }

  .class-banner p {
    font-size: 2em;
  }

}

@media screen and (min-width: 860px) {
  html {
    font-size: 15px;
  }

  body {
    margin: calc(3em + 1em) 0 0 0;
    padding-left: 220px;
  }
  .header {
    padding: 0 1em 0 calc(220px + 1em);
  }

  .header-img {
    width: 40px;
    height: 40px;
  }

  .header-img img {
    width: 40px;
  }

  .l-navbar {
    left: 0;
    width: 220px;
  }

  .show {
    width: 0;
  }

  .header-padding {
    padding: 1em;
  }

  .body-padding {
    padding: 0;
  }
}

/* End Media Queries  */
