/*  
**  CSS File for the index page which allows the users to login/signup or contact us at the bottom of the page.
**  Also shows information about the website
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;

  background: #fff;
  font-weight: 400;
  font-size: 8px;
}

@media (min-width: 400px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 850px) {
  html {
    font-size: 15px;
  }
}

a {
  text-decoration: none;
  color: #000;
}

/* Nav Bar */

header {
  background: #fff;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
}

.top-bar {
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  float: left;
  margin-left: 2em;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}

.logo img:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}

.logo p {
  float: left;
  font-size: 1.5em;
  margin-top: 0.5em;

  font-weight: 600;
}

.logo h1:hover {
  color: #444;
}

nav {
  float: right;
}

nav ul {
  padding: 0;
  list-style: none;
  margin: 0 2em 0 0;
}

nav li {
  display: inline-block;
  margin-left: 2.5em;
  margin-top: 1em;
  position: relative;
}

nav a {
  color: #3f3d56;
  text-decoration: none;
  padding: 0.2em 1em 0.2em 1em;
  letter-spacing: 0.02em;
  font-size: 1em;
  font-weight: 700;
}

nav .login {
  border-width: 0.25em;
  border-style: solid;
  border-image: linear-gradient(45deg, #e74c3c, #e67e22) 1;
}

nav a:hover {
  color: #78768f;
}

nav .login:hover {
  background-image: linear-gradient(45deg, #e74c3c, #e67e22);
  color: #fff;
}

/* Page Content */

body {
  position: absolute;
  top: 5vh;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 1250px;
}

@media (min-width: 850px) {
  .container {
    flex-direction: row;
  }
}

/* Top Section  */

#top {
  background-image: url(../images/svg/Waves.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom -25vh;
}

#top .top {
  margin: 0 auto;
  padding: 0 3em;
}

.top div {
  margin: 2em auto;
}

@media (min-width: 850px) {
  .top div + div {
    margin-left: 4em;
  }
}

#top h1 {
  display: block;
  width: fit-content;
  font-size: 5em;
  font-weight: 600;
  padding-bottom: 0.3em;
}

#top p {
  display: block;
  max-width: 20ch;
  font-size: 1.8em;
  font-weight: 500;
  line-height: 1.2em;
  padding-bottom: 1.2em;
}

#top .buttons {
  align-items: center;
}

#top .cta {
  display: inline-block;
  padding: 0.1em 1em;
  margin-top: 1em;
  width: 7em;

  border: 0.2em solid transparent;
  border-radius: 0.5em;
  color: #fff;
  border-color: transparent;

  background-image: url(../images/png/red-orange-gradient.png);
  background-position: center;
  background-size: 8em;
  background-repeat: no-repeat;

  text-align: center;
  font-size: 1.7em;
  font-weight: 600;

  animation: fadein 1s;
}

#top .cta:first-of-type {
  margin-right: 2em;
}

#top .cta:hover {
  background-image: none;

  border-color: #e74c3c;
  color: #3f3d56;

  transition: ease 0.3s;
  transition-property: color, border-color;
}

#top img {
  width: 100%;
  height: auto;
}

@media (max-width: 850px) {
  #top img {
    max-width: 30em;
  }
}

/* Animation for Top Section  */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* How it Works section  */

#how-it-works {
  background-image: url(../images/svg/waves-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom -25vh;
}

#how-it-works .info {
  margin: 0 auto;
  padding: 0 3em;
}

.info div {
  margin: 2em auto;
}

@media (min-width: 850px) {
  #how-it-works .container {
    flex-direction: row-reverse;
  }
}

#how-it-works h2 {
  display: block;
  width: fit-content;
  font-size: 4em;
  font-weight: 600;
  line-height: 1em;
  padding-bottom: 1.5em;
}

#how-it-works p {
  display: block;
  max-width: 30ch;
  font-size: 1.7em;
  font-weight: 500;
  line-height: 1.1em;
  word-spacing: 0.1em;
  padding-bottom: 1.2em;
}

#how-it-works span {
  font-weight: 600;
  color: #e67e22;
}

#how-it-works img {
  width: 100%;
  height: auto;
}

@media (max-width: 850px) {
  #how-it-works img {
    max-width: 30em;
  }
}


/* About Us Section  */

#about-us {
  background-image: linear-gradient(#cbcbcb, #fff);
}

#about-us .about {
  margin: 0 auto;
  padding: 100px 0;
  flex-direction: column;
  text-align: center;
  max-width: 1250px;

}

#about-us .about-top {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 850px) {
  #about-us .about-top {
    flex-direction: row;
    width: 75%;
  }
}

#about-us h2 {
  font-size: 4em;
  font-weight: 600;
  min-width: 6em;
  color: #e74c3c;
  margin-bottom: 0.2em;
  letter-spacing: .05em;
  text-align: center;
}

.about-top p {
  max-width: 30ch;
  font-size: 1.7em;
  font-weight: 500;
  line-height: 1.1em;
  word-spacing: 0.1em;
  padding-bottom: 1.2em;
}