:root {
  --nav-background-color: #3f3d56;
  --hover-accent-color: #302e41;
  --accent-orange-color: #e67e22;
  --accent-red-color: #e74c3c;

  --sidebar-width: 200px;

  --z-fixed: 100;
}

/* Scrollbar Modification  */

::-webkit-scrollbar {
  width: 6px;
  margin-right: 120px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e67e22
}

/* End Scrollbar Modification  */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
}

body.stop-transition-load * {
  transition: none !important;
}

body {
  position: relative;
  margin: 4em 0 0 0;
  padding: 0 1em;
  font-family: "Poppins", sans-serif;

  transition: 0.3s;
  transition-property: padding-left;
}

a {
  text-decoration: none;
}

/* Header Section  */
.header {
  width: 100%;
  height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  background-color: var(--white-color);
  z-index: var(--z-fixed);

  border-bottom: #e6e6e6 0.2em solid;

  transition: 0.3s;
  transition-property: padding-left;
}

.header-toggle {
  color: var(--nav-background-color);
  font-size: 1.5em;
  cursor: pointer;
}

.header-img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header-img img {
  width: 40px;
}

/* End Header Section  */

/* Navbar Section  */

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: 0;
  height: 100vh;
  background-color: var(--nav-background-color);

  transition: 0.5s;
  transition-property: left, width;

  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav-list {
  max-height: calc(100vh - 5em);
  overflow-y: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav-list::-webkit-scrollbar {
  display: none;
}

.nav-list:hover::-webkit-scrollbar {
  display: block;
}

.nav-list:hover {
  scrollbar-width: block;
  -ms-overflow-style: auto;

}



.nav-logo,
.nav-link,
.class-select {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 0.5em;
  padding: 0.5em 0 0.5em 1.5em;
}

/* Sidebar Logo  */

.nav-logo {
  height: 4em;
  margin-bottom: 0.5em;
  border-bottom: #1d2a36 0.2em solid;
}

.nav-logo-info {
  display: flex;
  flex-direction: column;
}

.nav-logo-info .name {
  font-size: 1.25em;
  color: #c9c9c9;
  font-weight: 500;
  height: 1.1em;
  width: 6em;
}

.nav-logo-info .usertype {
  font-size: 0.8em;
  color: #c9c9c9;
  text-align: end;
}

.nav-section {
  color: #9e9e9e;
  padding-left: 0.4em;
}

.nav-link,
.class-select {
  position: relative;
  color: #c9c9c9;
  font-weight: 500;
  font-size: 1.05em;
  margin-bottom: 0.1em;
  margin-left: 0.4em;
}

.nav-link:hover,
.class-select:hover {
  background-color: var(--hover-accent-color);
}

.nav-link.active {
  color: var(--nav-background-color);
  font-weight: 600;
  background-color: #fff;
  border-radius: 20px 0 0 20px;
}

/* Show Navbar on click  */

.show {
  left: 0;
  width: var(--sidebar-width);
}

/* Class Sections  */

.class-select span {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.class-select:hover {
  cursor: pointer;
}

.nav-class.open .class-select {
  color: var(--accent-orange-color);

  transition: 0.3s;
}

.nav-class.open {
  position: relative;
}

.nav-class.open::before {
  content: "";
  position: absolute;
  left: 0;
  margin-top: 0.8em;
  width: 3px;
  height: 180px;
  background-color: var(--accent-orange-color);

  transition: 0.3s;
}

.class-links {
  display: none;

  transition: display 0.3s;
}

.nav-class .nav-link {
  font-size: 0.8em;
  margin-left: 2em;
}

/* End Class Sections  */

/* End Navbar Section  */

.header-padding {
  padding-left: calc(var(--sidebar-width) + 28px);
}

.body-padding {
  padding-left: 0;
}

/* Media Queries  */

@media screen and (min-width: 850px) {
  html {
    font-size: 15px;
  }

  body {
    margin: calc(3em + 1em) 0 0 0;
    padding-left: calc(220px + 1em);
  }
  .header {
    padding: 0 2em 0 calc(220px + 1em);
  }

  .header-img {
    width: 40px;
    height: 40px;
  }

  .header-img img {
    width: 45px;
  }

  .l-navbar {
    left: 0;
    width: 220px;
  }

  .show {
    left: -30%;
    width: 0;
  }

  .header-padding {
    padding-left: 1em;
  }

  .body-padding {
    padding-left: 1em;
  }
}

/* End Media Queries  */
