body {
  max-width: 21cm;
  margin: auto;
}

article {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  padding: 4em 1em;
}

h1 {
  text-align: center;
}

h2 {
  border-bottom-style: outset;
}

h3 {
  margin-left: 1.5em;
}

h4 {
  margin-left: 2.5em;
}

h5 {
  margin-left: 3em;
}

li {
  color: #16133b;
}
li a {
  color: #3b358f;
  text-decoration: none;
}

li a:active {
  color: rgb(58, 58, 58);
}

figure img {
  width: 40em;
  height: auto;
  border: rgb(116, 116, 116) solid 2px;
}

figure figcaption {
  font-size: 0.9em;
}
